@model TravelBlog.Models.Location

<html>
<head>
    <title>Locations - Delete</title>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <hr />
    @Html.DisplayNameFor(model => model.LocationName): @Html.DisplayFor(model => model.LocationName)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>