@{
    ViewData["Title"] = "TravelBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Location>

    <h2>Locations</h2>
    <ul>
        @foreach(var location in Model)
        {
            <li>@Html.DisplayFor(x => location.LocationName)</li>
            <li>@Html.ActionLink("Experiences", "LocationToExperience", new { id = location.LocationId })</li>
            @*<li>location.persons: @Html.DisplayFor(x => Model.Persons)</li>*@
            @foreach (var person in location.Persons)
            {   
                <p>Met Here: @Html.DisplayFor(modelItem => person.PersonName)</p>
            }
        }
    </ul>
