
@{
    ViewData["Title"] = "TravelBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Experience>

<h2>Experiences</h2>
<ul>
    @foreach (var experience in Model)
    {
        <li>@Html.DisplayFor(x => experience.ExperienceName)</li>

    }
</ul>
