@{
    ViewData["Title"] = "TravelBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Experience>

<h2>Experiences</h2>
<ul>
    @foreach (var experience in Model)
    {
        <li>@Html.DisplayFor(modelExperience => experience.ExperienceName)</li>
        <li>@Html.ActionLink("locations", "ExperienceToLocation", new { id = experience.LocationId })</li>

    }
</ul>
