@{
    ViewData["Title"] = "TravelBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Person>

<h2>Persons</h2>
<ul>
    @foreach (var person in Model)
    {
        <li>@Html.DisplayFor(x => person.PersonName)</li>
        <li>@Html.ActionLink("What Happened", "PersonExperience", new { id = person.ExperienceId })</li>
        <li>@Html.ActionLink("Where You Met", "PersonLocation", new { id = person.LocationId })</li>

    }
</ul>
<p>@Html.ActionLink("Add new person", "Create")</p>

